Django
amqp
billiard
boto3
botocore
celery
certifi
chardet
django-appconf
django-apps
django-colorful
django-cors-headers
#django-http-proxy
git+https://github.com/PetrDlouhy/django-http-proxy.git
django-imagekit
#django-raster
django-wms
docutils
idna
jmespath
kombu
numpy
pilkit
Pillow
psycopg2
#pygdal
#https://gis.stackexchange.com/questions/28966/python-gdal-package-missing-header-file-when-installing-via-pip
GDAL==2.4.4
pyparsing
python-dateutil
python-slugify==3.0.6
pytz
requests
s3transfer
six
Unidecode
urllib3
vine
